body {
  background-color: c9d1d3;
}

hr {
  border-style: dotted;
  width: 40px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 5px;
  border-spacing: 20px;
}

h1 h2 h3 {
color:1b2a49;

}
